@font-face {
  font-family: charter;
  src: url("../fonts/charter-regular.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: charter;
  src: url("../fonts/charter-italic.otf");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: charter;
  src: url("../fonts/charter-bold.otf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: charter;
  src: url("../fonts/charter-bold-italic.otf");
  font-style: italic;
  font-weight: bold;
}

:root {
  --white30: white;
  --white20: #a5a3a5;
  --white10: #3a3539;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  color: var(--white30);
  font-family: "Nunito", sans-serif;
  margin: 0;
  background-color: #251f24;
}

a {
  color: var(--white30);
}

header {
  font-size: 14px;
  color: var(--white30);
  margin-block-start: 20px;
}

.header-content {
  padding-inline: 20px;
}

header li {
  margin-block-end: 16px;
  color: var(--white20);
}

header a {
  color: var(--white20);
  text-decoration: none;
}

header a:hover {
  color: var(--white30);
}

nav details summary {
  font-weight: bold;
  line-height: 24px;
}

h1 {
  font-size: 40px;
  margin-block-start: 20px;
  margin-block-end: 16px;
  font-weight: normal;
}

hr {
  margin-block-start: 40px;
  margin-block-end: 40px;
  border: 1px solid rgba(97, 97, 97, 0.2);
}

.main hr {
  display: none;
}

h2 {
  font-size: 32px;
  margin: 64px 0 40px;
  font-weight: normal;
}

h3 {
  font-size: 24px;
  margin-block-start: 16px;
  margin-block-end: 16px;
  font-weight: 600;
}

pre {
  background: var(--white10);
  padding: 40px;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  overflow: auto;
  border-radius: 8px;
  border: 10px solid #5551ff;
  box-shadow: -10px 10px 0px 0px #abaaf6;
  margin-block-end: 24px;
}

p {
  color: var(--white20);
}

blockquote {
  font-size: 24px;
  line-height: 32px;
  margin-block-start: 80px;
  margin-block-end: 63px;
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  padding-block-start: 24px;
  padding-block-end: 24px;
  background-color: var(--white10);
  border-radius: 8px;
}

blockquote p {
  color: var(--white30);
}

blockquote span::before {
  content: "-";
}

.hero {
  block-size: 50px;
  background: linear-gradient(96.07deg, #314755 30.63%, #26a0da 102.18%);
}

.section-content {
  margin-block-start: 164px;
}

.section-content:first-of-type {
  margin-block-start: 0px;
}

.section-content ol li {
  line-height: 24px;
}

.section-content ul li {
  margin-block-end: 16px;
}

.section-content + hr {
  display: none;
}

.section-content img {
  margin-block-start: 40px;
  display: block;
  max-inline-size: 100%;
}

.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
  padding-block-end: 8px;
  position: relative;
}

h3::before {
  content: counter(titleList) ". ";
}

.wrapper {
  max-inline-size: 900px;
  margin: auto;
}

.main-content {
  padding-inline-start: 16px;
  padding-inline-end: 16px;
}

.slider-container {
  display: block;
  overflow-x: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}

.video {
  margin: 0;
  display: inline-block;
  inline-size: 100%;
  block-size: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list {
  text-align: center;
  margin-block-start: 10px;
}

.slider-bullet {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
  border-radius: 50%;
}

.form input {
  inline-size: 100%;
  border: 1px solid var(--white30);
  background-color: #251f24;
  box-sizing: border-box;
  border-radius: 8px;
  padding-block-start: 12px;
  padding-block-end: 12px;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
  color: var(--white30);
  font-size: 16px;
  display: block;
  margin-block-end: 24px;
}

.form input::placeholder {
  color: var(--white20);
}

.form input[type="submit"] {
  background: #157efb;
  border: none;
}

@media screen and (min-width: 1366px) {
  .hero {
    block-size: 350px;
  }

  .header {
    position: sticky;
    inset-block-start: -45px;
  }

  .header-content {
    position: relative;
    inset-block-start: 64px;
    padding: 0;
  }

  header {
    position: absolute;
    inline-size: 188px;
    inset-inline-start: -232px;
  }

  h1 {
    font-size: 60px;
    margin-block-start: 64px;
    margin-block-end: 16px;
  }
}
